
/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: Arial;
}

html {
    color-scheme: light;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */

.container {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

.nav-box {
    background-color: #e8e5e480;
    padding: 1em;
    border-radius: 2em;
}

.nav-box button {
    background-color: white;
    border-radius: 1.5em;
    padding: .5em 2em;
    border: none;

}

#main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2em;
    width: 100%;
    padding: 4em;

}

.pics {
  min-width: 33%;
}
.pics img {
    border-radius: 1em;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    gap: 1em
}
.middle h1 {
    text-align: center;
    font-size: 4em;
}

.butts-cont {
    display: flex;
    justify-content: center;
    gap:1em;
}

.butts {
    background-color:#e8e5e480;
    border-radius: 1.5em;
    padding: .5em 1em;
    border: none;
}

#contact {
    text-align: center;
    font-size: 2em;
}
#contact :nth-child(2) {
    color: #7f7f7f
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.footer-part {
    display: flex;
    gap:1em;
}

